<div class="login-page">
    <section class="login-banner">
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="brand">
            <div class="brand-logo">
                <div class="logo-box">
                    <i class="fas fa-heart-pulse"></i>
                </div>

                <div>
                    <h2>
                        Clínica Santa Martha
                    </h2>
                    <span>
                        Gestión Clínica
                    </span>
                </div>

            </div>

            <h1>
                Sistema integral
                <br>
                <span>
                    de administración médica
                </span>
            </h1>

            <p>
                Gestiona pacientes, médicos, citas e información clínica
                desde una plataforma segura y moderna.
            </p>

            <div class="features">
                <div>
                    <i class="fas fa-user-doctor"></i>
                    Médicos
                </div>
                <div>
                    <i class="fas fa-calendar-check"></i>
                    Citas
                </div>
                <div>
                    <i class="fas fa-file-medical"></i>
                    Historias clínicas
                </div>
                <div>
                    <i class="fas fa-chart-line"></i>
                    Pacientes
                </div>
            </div>
        </div>
    </section>

    <section class="login-container">
        <div class="login-card">
            <div class="mobile-logo">
                <div class="logo-box">
                    <i class="fas fa-heart-pulse"></i>
                </div>
            </div>
            <h2>
                Bienvenido
            </h2>
            <p>
                Ingresa tus credenciales para continuar
            </p>
            <app-form 
                [fields]="formFields" 
                (submitForm)="onLogin($event)">
            </app-form>
            <div class="security">
                <i class="fas fa-shield-halved"></i>
                Acceso seguro protegido
            </div>
        </div>
    </section>

</div>