@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #F0F5FF;
  --white: #FFFFFF;
  --blue: #1A6BFF;
  --cyan: #00C2FF;
  --text: #0A1628;
  --text2: #4A6080;
  --text3: #92AABE;
  --border: rgba(26, 107, 255, 0.15);
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--bg);
}

/* * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;

} */


body::-webkit-scrollbar {
  display: none;
}

nav::-webkit-scrollbar {
  display: none;
}


/* Scroll tabla */
.table-scroll {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #aaa transparent;
}


/* Chrome Edge */
.table-scroll::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  height: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.alert-container {
  position: fixed !important;
  top: 20px;
  right: 20px;
  z-index: 9999999 !important;
}